[Desktop Entry]
Version=1.1
Type=Application
Name=@@TITLE@@
Icon=@@NAME@@
Exec=AppRun %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
StartupNotify=true
